body{
  margin: 0;
  padding: 0;
}
*{
  font-family: 'Roboto', sans-serif;
}

p{
  font-size: 16px;
  line-height: 1.5px;
  color: #8a8a8a;
}

#nav{
  background: #000;
  margin: 0;
  padding: 1px;
  z-index: 10;
}
#nav .container {
  display: flex;
  justify-content:space-around;
  align-items: center;
  vertical-align: center;
}
#nav .meny ul {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}
#nav .meny ul li {
  margin: 0 10px;
}
li a{
  text-decoration: none;
  color: #fff;
  font-size: 17px;

}
.activeA{
  color: #f76783;
  font-size:19px;
}
.icon i {
  color: #fff;
  margin: 0 7px;
  font-size: 18px;
}
.icon i:hover {
  color: #f76783;

}
.works-about > div {
  text-align: center;
  margin: 0 100px;

}
#nav .myname h1, #nav .myname h1  span, .footer  h1,.footer  h1 span {
  font-size: 20px;
  font-family: 'Charm', cursive;
  color: #fff;
}
.active{
  color: #f76783;
  font-size: 15px;
}
#nav .myname h1 span, .about h1 span, .service h1 span, .works-1 h1 span, .connect h1 span, .footer h1 span {
  color: #f8718a;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.container-about{
  width: 70%;
  margin: 0 auto;
}

.banner-left{
  margin-top: 130px;
}
.banner-left h3 {

  font-size: 50px;
font-weight: 100;
margin: 0;
line-height: 64px;
}
.banner-left h6{
  font-weight: 100;

}
.banner-left .container button{
  background: #f76783;
  border:0;
  padding: 10px 30px;
  color: #fff;
  font-weight: 600;
  box-shadow: -1px 5px 14px #c5c5c5;
  font-size: 16px;

}
.about{
  text-align: center;
}
.aboutButton button{
  padding: 15px 40px;
  margin: 3px 10px;
  background: #fff;
  border: 1px solid #e6e6e6;;

}
.aboutBiography{
  text-align: center;
}
.aboutBiography p{
    line-height: 34px;
    padding:0 10px;
}

.service-about{
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-about div p {
      line-height: 30px;
}
.works-1{
  text-align: center;
}
.connect{
  text-align: center;
}
.connect input[type="text"]{
  width: 50%;
  margin: 10px auto;
  background: #f3f9f9;
  border: 0;
  padding: 20px;


}
.connect input[type="submit"]{
  background: #f76783;
  border:0;
  padding: 10px 30px;
  color: #fff;
  font-weight: 600;
  box-shadow: -1px 5px 14px #c5c5c5;
  font-size: 16px;
  margin-top: 45px;
}
.connect{
  margin-bottom: 80px;
}
footer{
  background: #e5f2f0;
  text-align: center;
  padding: 0;
  margin: 0;
}
.footer h1 {
  font-size: 14px;

  padding-top: 50px;
}
.footer p {
  font-size: 14px;
  color: #757575;;
}
.biograp{
  display: block;
  background: #fff;
  padding: 10px;
}
.education{
  display: none;
  background: #fff;
  padding: 10px;
}
.works{
  display: none;
  background: #fff;
  padding: 10px;
}
.expersion{
  display: none;
  background: #fff;
  padding: 10px;
}
.bluecircle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #4dc9d1;
  position: absolute;
  z-index: -1;
  top:650px;
  left: 150px;
}


/* #f7647f; */
