body{
  margin: 0;
  padding: 0;
}
#scrollTop{
  position: relative;
  top: 500px;
  left: 95%;
  line-height: 50px;
  font-size: 20px;
  vertical-align: center;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: red;
}
*{
  font-family: 'Roboto', sans-serif;
}

p{
  font-size: 16px;
  line-height: 1.5px;
  color: #8a8a8a;
}

#nav{
  background: #000;
  margin: 0;
  padding: 1px;
  z-index: 10;
  overflow: hidden;
  position: fixed;
  top:0;
  height: 65px;
  width: 100%;
}
#nav .container {
  display: flex;
  justify-content:space-around;
  align-items: center;
  vertical-align: center;
}
#home:hover{
  cursor: pointer;
}
#nav .meny ul {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}
#nav .meny ul li {
  margin: 0 10px;

  list-style: none;
}
li{
  color: #fff;

}
li:hover{
  cursor: pointer;
}
li a{
  text-decoration: none;
  color: #fff;
  font-size: 17px;

}
.activeA {
  color: #f76783;
  font-size:19px;
  font-weight: 900;
}
.icon i {
  color: #fff;
  margin: 0 7px;
  font-size: 18px;
}
.icon i:hover {
  color: #f76783;

}
.works-about > div {
  text-align: center;
  margin: 0 100px;

}
#nav .myname h1, #nav .myname h1  span, .footer  h1,.footer  h1 span , .about-slider h1,.about-slider h1 span {
  font-size: 20px;
  font-family: 'Charm', cursive;
  color: #fff;
}

.active{
  color: #f76783;
  font-size: 15px;
}
.about-slider h1 span, #nav .myname h1 span, .about h1 span, .service h1 span, .works-1 h1 span, .connect h1 span, .footer h1 span {
  color: #f8718a;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.container-about{
  width: 70%;
  margin: 10px auto;
  box-shadow: 0 0 11px darkgrey;
  padding: 20px 0;
  padding-bottom: 40px;
  background: #fff;
}

.banner-left{
  margin-top: 130px;
}
.banner-left h3 {

  font-size: 50px;
font-weight: 100;
margin: 0;
line-height: 64px;
}
.banner-left h6{
  font-weight: 100;

}
.banner-left .container button{
  background: #f76783;
  border:0;
  padding: 10px 30px;
  color: #fff;
  font-weight: 600;
  box-shadow: -1px 5px 14px #c5c5c5;
  font-size: 16px;

}
.about{
  margin-top: 50px;
  text-align: center;
}
.aboutButton button{
  padding: 15px 40px;
  margin: 3px 10px;
  background: #fff;
  border: 1px solid #e6e6e6;;

}
.aboutBiography{
  text-align: center;
}
.aboutBiography p{
    line-height: 34px;
    padding:0 10px;
}
.service{
  margin-top:40px;
}
.service-about{
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-about div p {
      line-height: 30px;
}
.works-1{
  text-align: center;
}
.connect{
  text-align: center;
}
.connect input[type="text"], textarea{
  width: 50%;
  margin: 10px auto;
  background: #f3f9f9;
  border: 0;
  padding: 20px;
}
.connect input[type="submit"]{
  background: #f76783;
  border:0;
  padding: 10px 30px;
  color: #fff;
  font-weight: 600;
  box-shadow: -1px 5px 14px #c5c5c5;
  font-size: 16px;
  margin-top: 45px;
}
.connect{
  margin-bottom: 80px;
}
footer{
  background: #e5f2f0;
  text-align: center;
  padding: 1px;
  margin: 0;
}
.footer h1 {
  font-size: 14px;
  color: #000;
  padding-top: 0px;
}
.footer .icon i{
  color: #000;

}
.footer .icon i:hover{
  color: #f76783;
}
.footer .iconsPanel p{
  margin-left: 400px;
}
.footer .iconsPanel{
  display: flex;
  justify-content: space-around;
  align-items: center;
  vertical-align: center;
}

.footer p {
  font-size: 14px;
  color: #757575;;
}
.biograp{
  display: block;
  background: #fff;
  padding: 10px;
}
.education{
  display: none;
  background: #fff;
  padding: 10px;
}
.works{
  display: none;
  background: #fff;
  padding: 10px;
}
.expersion{
  display: none;
  background: #fff;
  padding: 10px;
}
.bluecircle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #4dc9d1;
  position: absolute;
  z-index: -1;
  top:710px;
  left: 160px;
}
.redcircle{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #f76783;
  position: absolute;
  z-index: -1;
  top:440px;
  right: 80px;
}

/* #f7647f; */
.about-my{
  background: url("../img/myabout.png");
  background-size: cover;
  width: 100%;
  height: 500px;
  margin: 60px 0;

}
.about-slider{
  position: relative;
  top: 80px;
  left: 590px;
  width: 43%;
  height: 370px;
  background: #fff;
}
.about-slider p{
  padding: 30px;
  line-height: 28px;
  padding-bottom:0;
  position:
}
.about-slider > .container > button{
  color:red;
}
.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #676767;

}
.about-slider h1{
  padding-left: 30px;
  line-height: 30px;
  color: #000;
}
/*  Mobilnitga utkazish */
@media  screen and (max-width:1024px){
.about-slider {
    position: relative;
    top: 76px;
    left: 563px;
    width: 44%;
    height: 348px;
    background: #fff;
}
.about-my {
    overflow: hidden;
}
.service-about div p {
    line-height: 22px;
}
p {
    font-size: 14px;
    line-height: 1.5px;
    color: #8a8a8a;
}
.works-about div img{
  width: 201px;
  text-align: center;
}

}

@media  screen and (max-width:768px){
  #nav .myname h1, #nav .myname h1  span, .footer  h1,.footer  h1 span , .about-slider h1,.about-slider h1 span {
    font-size: 14px;
    font-family: 'Charm', cursive;
    color: #fff;
  }
  #nav .meny ul li {
    margin: 0 10px;
    list-style: none;
    font-size: 14px;
  }
  .icon i {
    color: #fff;
    margin: 0 7px;
    font-size: 15px;
  }
  #nav {
    height: 58px;

  }
  .about-slider h1 span, #nav .myname h1 span, .about h1 span, .service h1 span, .works-1 h1 span, .connect h1 span, .footer h1 span {
    color: #f8718a;
  }
  .works-about div img{
    width: 150px;
    text-align: center;
  }
  .about-slider{
    display: none;

  }
  .footer .iconsPanel p {
    margin-left: 239px;
  }
  p {
      font-size: 12px;
      line-height: 1.5px;
      color: #8a8a8a;
  }

}
@media   screen and (max-width:320px) {
  .myname{
    display: block;
  }
  .activeA{
    display: none;
  }
  ul li{
    display: none;
  }
  .banner-left div h3{
    font-size: 24px;
    line-height: 39px;
  }
  .banner-left .container button {
    font-weight: 500;
    font-size: 12px;
  }
  .redcircle {
    display: none;
  }
  .bluecircle {
    display: none;
  }
  .aboutButton button {
    padding: 13px 9px;
    margin: 2px 4px;
    background: #fff;
    border: 1px solid #e6e6e6;
    font-size: 10px;
  }
  .aboutBiography p {
    line-height: 25px;
  }
  .service-about {
    flex-direction: column;
  }
  .works-about div img{
    width: 50px;
    text-align: center;
  }
  .footer .iconsPanel p {
    font-size: 10px;
    margin-left: 22px;

  }
  .works-1{
    display: none;
  }
  .about-my{
    display: none;
  }
}
